@model scheduler.IMonth

@{
    ViewBag.Title = "Month";
}

<h2>@Model.Name</h2>

<div>

    @*@foreach (var week in Model.Weeks)*@
    @*@foreach (var week in Model.Days)
    {*@
        <div class="row">
            <div class="col-md-12">
                @foreach (var day in Model.Days)
                {
                    //var width = 960 / 7.0 + "px";
                    const string width = "col-md-4  col-xs-12";
                    //if (day.Date.DayOfWeek == DayOfWeek.Sunday || day.Date.DayOfWeek == DayOfWeek.Saturday)
                    //{
                    //    width = "col-md-1  col-xs-12";
                    //}
                    //else
                    //{
                    //    width = "col-md-2 col-xs-12";
                    //}
                    <div class="@width">
                        @if (day.Date != DateTime.MinValue)
                        {
                            @day.Date.ToLongDateString()
                        }
                        <br/>
                        <br />
                        @if (day.Assignments == null)
                        {
                            continue;
                        }
                        @foreach (var assignment in day.Assignments)
                        {
                            <div>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                @assignment.FormattedRole: @assignment.Employee.First @assignment.Employee.Last
                                @*@assignment.Employee.Initials - @assignment.Role*@
                                @*@assignment.Employee.First @assignment.Employee.Last - @assignment.Role;*@
                            </div>
                        }
                        <br />
                    </div>
                }
            </div>
        </div>
    @*}*@

</div>