@model scheduler.IMonth

@{
    ViewBag.Title = "Month";
}

<h2 class="calendar-header">@Model.Name</h2>

<div>
    <br />
    <br />

    <div class="row seven-cols">

        <div class="col-md-1  col-xs-7 calendar-header"><h4>Sunday</h4></div>
        <div class="col-md-1  col-xs-7 calendar-header"><h4>Monday</h4></div>
        <div class="col-md-1  col-xs-7 calendar-header"><h4>Tuesday</h4></div>
        <div class="col-md-1  col-xs-7 calendar-header"><h4>Wednesday</h4></div>
        <div class="col-md-1  col-xs-7 calendar-header"><h4>Thursday</h4></div>
        <div class="col-md-1  col-xs-7 calendar-header"><h4>Friday</h4></div>
        <div class="col-md-1  col-xs-7 calendar-header"><h4>Saturday</h4></div>

        @if (Model.Days[0].Date.DayOfWeek == DayOfWeek.Monday)
        {
            <div class="col-md-1  col-xs-7"></div>
        }

        @if (Model.Days[0].Date.DayOfWeek == DayOfWeek.Tuesday)
        {
            <div class="col-md-1  col-xs-7"></div>
            <div class="col-md-1  col-xs-7"></div>
        }

        @if (Model.Days[0].Date.DayOfWeek == DayOfWeek.Wednesday)
        {
            <div class="col-md-1  col-xs-7"></div>
            <div class="col-md-1  col-xs-7"></div>
            <div class="col-md-1  col-xs-7"></div>
        }

        @if (Model.Days[0].Date.DayOfWeek == DayOfWeek.Thursday)
        {
            <div class="col-md-1  col-xs-7"></div>
            <div class="col-md-1  col-xs-7"></div>
            <div class="col-md-1  col-xs-7"></div>
            <div class="col-md-1  col-xs-7"></div>
        }

        @if (Model.Days[0].Date.DayOfWeek == DayOfWeek.Friday)
        {
            <div class="col-md-1  col-xs-7"></div>
            <div class="col-md-1  col-xs-7"></div>
            <div class="col-md-1  col-xs-7"></div>
            <div class="col-md-1  col-xs-7"></div>
            <div class="col-md-1  col-xs-7"></div>
        }

        @if (Model.Days[0].Date.DayOfWeek == DayOfWeek.Saturday)
        {
            <div class="col-md-1  col-xs-7"></div>
            <div class="col-md-1  col-xs-7"></div>
            <div class="col-md-1  col-xs-7"></div>
            <div class="col-md-1  col-xs-7"></div>
            <div class="col-md-1  col-xs-7"></div>
            <div class="col-md-1  col-xs-7"></div>
        }

        @foreach (var day in Model.Days)
        {
            <div class="col-md-1  col-xs-7">
                @if (day.Date != DateTime.MinValue)
                {
                    <h5 class="calendar-header">
                        @day.Date.Day
                    </h5>
                }
                <br />
                <br />
                @if (day.Assignments == null)
                {
                    continue;
                }
                @foreach (var assignment in day.Assignments)
                {
                    <div>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        @assignment.FormattedRole &nbsp;&nbsp; &nbsp;&nbsp;- &nbsp;&nbsp; &nbsp;&nbsp;  @assignment.Employee.First @assignment.Employee.Last
                    </div>
                }
                <br />
            </div>
        }
    </div>
</div>