@using scheduler
@model IDetailedSchedule

@{
    ViewBag.Title = "Edit Detailed Schedule";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>
                    Edit Detailed Schedule
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                @Model.Date.ToLongDateString()
            </div>
        </div>
        <div><br /></div>
        <div><br /></div>
        <div class="row">
            <div class="col-md-12 text-center">
                <h3>Carthage</h3>
            </div>

        </div>
        <div class="row">
            <div class="col-md-2 text-right detailedScheduleHeader">
                Location
            </div>
            <div class="col-md-3 text-center detailedScheduleHeader">
                Surgeon
            </div>
            <div class="col-md-3 text-center detailedScheduleHeader">
                Est. Time
            </div>
            <div class="col-md-2 text-center detailedScheduleHeader">
                Provider
            </div>
            <div class="col-md-2 text-center detailedScheduleHeader">
                Peel-Out
            </div>
        </div>
        @foreach (var detailedAssignment in Model.DetailedAssignments.Where(da => da.Hospital == Hospital.Carthage))
        {
            <div class="row">
                <div class="col-md-2 text-right detailedSchedule">
                    @detailedAssignment.Location
                </div>
                <div class="col-md-3 text-center detailedSchedule">
                    <input type="text" name="@detailedAssignment.Surgeon@Model.DetailedAssignments.IndexOf(detailedAssignment)" value="@detailedAssignment.Surgeon" class="form-control" />
                </div>
                <div class="col-md-3 text-center detailedSchedule">
                    <input type="text" name="@detailedAssignment.Time@Model.DetailedAssignments.IndexOf(detailedAssignment)" value="@detailedAssignment.Time" class="form-control" />
                </div>
                <div class="col-md-2 text-center detailedSchedule">
                    <input type="text" name="@detailedAssignment.Provider@Model.DetailedAssignments.IndexOf(detailedAssignment)" value="@detailedAssignment.Provider" class="form-control" />
                </div>
                <div class="col-md-2 text-center detailedSchedule">
                    <input type="text" name="@detailedAssignment.PeelOut@Model.DetailedAssignments.IndexOf(detailedAssignment)" value="@detailedAssignment.PeelOut" class="form-control" />
                </div>
            </div>
        }
        <div class="row">
            <div class="col-md-2 text-right">
                AM/PM Back-Up Doc
            </div>
            <div class="col-md-3">
                <input type="text" name="" value="" class="form-control" />
            </div>
            <div class="col-md-7 text-right">

            </div>
        </div>
        <div><br /></div>
        <div><br /></div>
        <div class="row">
            <div class="col-md-12 text-center">
                <h3>Joplin</h3>
            </div>
        </div>        
        <div class="row">
            <div class="col-md-2 text-right detailedScheduleHeader">
                Location
            </div>
            <div class="col-md-3 text-center detailedScheduleHeader">
                Surgeon
            </div>
            <div class="col-md-3 text-center detailedScheduleHeader">
                Est. Time
            </div>
            <div class="col-md-2 text-center detailedScheduleHeader">
                Provider
            </div>
            <div class="col-md-2 text-center detailedScheduleHeader">
                Peel-Out
            </div>
        </div>
        @foreach (var detailedAssignment in Model.DetailedAssignments.Where(da => da.Hospital == Hospital.Joplin))
        {
            <div class="row">
                <div class="col-md-2 text-right detailedSchedule">
                    @detailedAssignment.Location
                </div>
                <div class="col-md-3 text-center detailedSchedule">
                    <input type="text" name="@detailedAssignment.Surgeon@Model.DetailedAssignments.IndexOf(detailedAssignment)" value="@detailedAssignment.Surgeon" class="form-control" />
                </div>
                <div class="col-md-3 text-center detailedSchedule">
                    <input type="text" name="@detailedAssignment.Time@Model.DetailedAssignments.IndexOf(detailedAssignment)" value="@detailedAssignment.Time" class="form-control" />
                </div>
                <div class="col-md-2 text-center detailedSchedule">
                    <input type="text" name="@detailedAssignment.Provider@Model.DetailedAssignments.IndexOf(detailedAssignment)" value="@detailedAssignment.Provider" class="form-control" />
                </div>
                <div class="col-md-2 text-center detailedSchedule">
                    <input type="text" name="@detailedAssignment.PeelOut@Model.DetailedAssignments.IndexOf(detailedAssignment)" value="@detailedAssignment.PeelOut " class="form-control" />
                </div>
            </div>
        }
        <div class="row">
            <div class="col-md-2 text-right">
                AM Doc
            </div>
            <div class="col-md-3 text-right">
                <input type="text" name="" value="" class="form-control" />
            </div>
            <div class="col-md-7 text-right">
                
            </div>
        </div>
        <div><br /></div>
        <div><br /></div>
        <div class="row">
            <div class="col-md-12 text-center">
                <h3>On-Call Providers</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 text-center detailedScheduleHeader">
                Provider
            </div>
            <div class="col-md-3 text-center detailedScheduleHeader">
                Name
            </div>
            <div class="col-md-3 text-center detailedScheduleHeader">
                Notes
            </div>
            <div class="col-md-3 text-center detailedScheduleHeader">
                In-Time
            </div>
        </div>
        @foreach (var callProvider in Model.CallProviders)
        {
            <div class="row">
                <div class="col-md-3 text-center detailedSchedule">
                    @callProvider.Provider
                </div>
                <div class="col-md-3 text-center detailedSchedule">
                    <input type="text" name="@callProvider.Name@Model.CallProviders.IndexOf(callProvider)" value="@callProvider.Name" class="form-control" />
                </div>
                <div class="col-md-3 text-center detailedSchedule">
                    <input type="text" name="@callProvider.Notes@Model.CallProviders.IndexOf(callProvider)" value="@callProvider.Notes" class="form-control" />
                </div>
                <div class="col-md-3 text-center detailedSchedule">
                    <input type="text" name="@callProvider.InTime@Model.CallProviders.IndexOf(callProvider)" value="@callProvider.InTime" class="form-control" />
                </div>
            </div>
        }
        <div><br /></div>
        <div><br /></div>
        <div class="text-center">
            @Html.ActionLink("Back To Details", "Index", new { month = Model.Date.Month, day = Model.Date.Day, year = Model.Date.Year })
        </div>
    </div>
}
